<!-- add_tariff.html -->
{% extends 'base.html' %}

{% block content %}
<h2>Добавить новый тариф для услуги: {{ service.name }}</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <h3>Добавить единицу измерения</h3>
    <!-- Ссылка для добавления новой единицы измерения -->
    <p>Если нужной единицы измерения нет, <a href="{% url 'add_unit' %}">добавьте новую единицу измерения</a></p>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>
{% endblock %}
